{{ define "title" }} Nova Nota {{ end }}
{{ define "content" }}
 <h1>Nova anotação</h1>
<form action="/notes" method="post">    
 
    <label for="title">Título</label>
    <input required type="text" name="title" id="title" value="{{.note.Title}}"
    <div class="error">
        {{.FieldErrors.title}}
    </div>>

    <label for="content">Conteúdo</label>

    <textarea name="content" id="content" cols="30" rows="10">
        {{- .note.Content -}}
    </textarea>
    <div class="error">
        {{.FieldErrors.content}}
    </div>>

    <label for="color">Cor do Cartão</label>
    <input id="color" type="hidden" name="color" value="{{.note.Color}}">
    <div class="color-picker">
        {{ $color := .note.Color }}
        {{range .note.Colors}}
            <div data-color="{{.}}" class="color {{.}} {{if eq . $color}}active{{end}}"></div>
        {{end}}
    </div>
    <div class="error">
        {{.FieldErrors.color}}
    </div>>

    <div class="buttons">
        <button class="success" type="submit">Salvar</button>
        <button class="neutral" type="button">Cancelar</button>
    </div>
</form>
{{ end }}

{{define "script"}}
    <script>
        $(".color").click(function(){
            $(".color").removeClass("active")
            $(this).addClass("active")
            $("#color").val($(this).data("color"))
        })

        $("button.neutral").click(function(){
            window.location.href = "/notes"
        })
    </script>
{{end}}
