{{ define "title"}}Visualização da nota {{ .ID }}{{ end }}

{{define "content" }}
<div class="note-view">
    <h3>{{.noteName}}</h3>
    <p>{{.noteContent}}</p>
    <div class="buttons">
        <button data-noteid="{{.ID}}" class="info" type="button">Editar</button>
        <form action="/notes/{{.ID}}" method="post">
            {{csrfField}}
            <input type="hidden" name="_method" value="DELETE">
            <button class="danger" type="submit">Deletar</button>
        </form>
    </div>
</div>
{{ end }}

{{ define "script"}}
<script>
    $("button.info").click(function(event) {
         window.location.href = "/notes/" + $(this)
    })
</script>
{{end}}
