{{define "title"}}Sign In{{end}}

{{define "content"}}
<form class="user-form" action="/users/signin" method="post">
    <h1>Entrar</h1>

    {{with flashMessage}}
    <p class="flash-message {{flashMessage.Typ}}">
        {{flashMessage.Message}}
    </p>
    {{end}}

    {{$token := .userToken}}
    {{with .askResendToken}}
        <div>
            <p style="text-align:center;margin-block:.5rem">Não recebeu seu email de confirmação? <a href="/users/email-form?sub=resend-token">Solicite um novo token</a></p>
        </div>
    {{end}}

    <input type="hidden" name="captchaID" value="{{.CaptchaID}}">
    <label for="email">E-mail</label>
    {{with .FieldErrors}}
    <label class="error">{{.email}}</label>
    {{end}}
    <input name="email" type="text" id="email" value="{{.FormData.email}}">

    <label for="password">Senha</label>
    {{with .FieldErrors}}
    <label class="error">{{.password}}</label>
    {{end}}

    <input type="password" name="password" id="password">

    <input type="checkbox"><span>Mostrar senha</span>

    {{csrfField}}
    <button class="success" type="submit">Entrar</button>

    <p>Não possui uma conta? <a href="/users/signup">Faça o Cadastro</a></p>
    <p style="text-align:center;margin-block:.5rem"><a href="/users/forgot-password">Esqueci minha senha </a></p>
    
</form>{{end}}

{{define "script"}}
<script>
$('input[type=checkbox]').click(function(){
    if ($(this).is(':checked')) {
        $('#password').attr('type', 'text')
    } else {
        $('#password').attr('type', 'password')
    }
})
</script>
{{end}}
