{{define "title"}}Sign In{{end}}

{{define "content"}}
<form class="user-form" action="/users/signin" method="post">
    <h1>Entrar</h1>
    <input type="hidden" name="captchaID" value="{{.CaptchaID}}">
    <label for="email">E-mail</label>
    {{with .FieldErrors}}
    <label class="error">{{.email}}</label>
    {{end}}
    <input name="email" type="text" id="email" value="{{.FormData.email}}">

    <label for="password">Senha</label>
    {{with .FieldErrors}}
    <label class="error">{{.password}}</label>
    {{end}}

    <input type="password" name="password" id="password">

    <input type="checkbox"><span>Mostrar senha</span>

    <button class="success" type="submit">Entrar</button>

    <p>Não possui uma conta? <a href="/users/signup">Faça o Cadastro</a></p>
</form>{{end}}

{{define "script"}}
<script>
$('input[type=checkbox]').click(function(){
    if ($(this).is(':checked')) {
        $('#password').attr('type', 'text')
    } else {
        $('#password').attr('type', 'password')
    }
})
</script>
{{end}}
